
<table class="table table-striped">
    <thead  class="thead">
        <tr>
            <th>PropertyId</th>
            <th>OwnerName</th>
            <th>PreviousBalance</th>
            <th>CurrentBalance</th>
            <th>ToatalBalance</th>
            <th>Details</th>
            <th>SendMessage</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.title}}</td>
        <td>{{post.id}}</td>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.title}}</td>
   
    </tr>
    </tbody>
</table>
